<ng-container *ngIf="{ selectedItemId: (selectedItemId$ | async) } as observables">
	<ng-container *ngIf="todoItemLink$ | async as todoItemLink">
		<a
			class="todolist-item"
			[ngClass]="{
				'todolist-item__selected': todoItem.id === observables.selectedItemId
			}"
			(dblclick)="setEditMode(true)"
			[routerLink]="todoItemLink"
		>
		<ng-container *ngIf="stateIsEdit$ | async as stateIsEdit">
			<div
				class="todolist-item__content"
				[ngClass]="{
					'todolist-item__content_active': !stateIsEdit.isEdit
				}"
			>
				<span>{{todoItem.id}} {{todoItem.text}}</span>
					<shared-button
						[hidden]="todoItem.status === 'COMPLETED'"
						[tooltip]="'Нажмите для удаления задачи'"
						(click)="deleteTodo($event)"
						[red]="true"
					>
						Delete
					</shared-button>
			</div>

			<div
				class="todolist-item__content"
				[ngClass]="{
					'todolist-item__content_active': stateIsEdit.isEdit
				}"
			>
				<input [(ngModel)]="todoItem.text">

				<button (click)="saveEditItem()">Save</button>
			</div>

			</ng-container>
		</a>
	</ng-container>
</ng-container>

