<!-- <div
  class="todolist-item"
  (dblclick)="setEditMode(true)"
>

  <ng-container *ngIf="!isEdit">
    <div class="todolist-item__content">
      <span>{{todoItem.id}} {{todoItem.text}}</span>
      <button class="delete-btn" [tooltip]="'Нажмите для добавления удаления задачи'"
        (click)="deleteItem(todoItem.id)">Delete</button>
    </div>
  </ng-container>

  <ng-container *ngIf="isEdit">
    <div class="todolist-item__content">
      <input [(ngModel)]="todoItem.text" (blur)="saveEditItem()">

      <button (click)="saveEditItem()">Save</button>
    </div>
  </ng-container>

</div> -->
<ng-container *ngIf="todoItem !== null">
  <div
    class="todolist-item"
    (click)="clickItem(todoItem)"
    (dblclick)="setEditMode(true)"
  >

    <div
      class="todolist-item__content"
      [ngClass]="{
        'todolist-item__content_active': !isEdit
      }"
    >
      <span>{{todoItem.id}} {{todoItem.text}}</span>
        <shared-button
          [hidden]="todoItem.status === 'COMPLETED'"
          [tooltip]="'Нажмите для удаления задачи'"
          (click)="deleteItem(todoItem.id)"
          (click)="onDeleteTodo()"
          [red]="true"
        >
          Delete
        </shared-button>
    </div>

    <div
      class="todolist-item__content"
      [ngClass]="{
        'todolist-item__content_active': isEdit
      }"
    >
      <input [(ngModel)]="todoItem.text" (blur)="saveEditItem()">

      <button (click)="saveEditItem()">Save</button>
    </div>

  </div>
</ng-container>
