:host {
  display: block;
}

.todolist-item__selected {
  background-color: rgb(97, 255, 97);
}

.todolist-item {
	display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
	text-decoration: none;
	color: inherit;
}

.todolist-item__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todolist-item__content:not(.todolist-item__content_active) {
  display: none;
}
