:host {
  display: block;
}

:host.selected {
  background-color: rgb(97, 255, 97);
}

.todolist-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todolist-item__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todolist-item__content:not(.todolist-item__content_active) {
  display: none;
}
