
<div class="todo-create-item">
  <form
    class="form"
    [formGroup]="form"
    (submit)="addItem()"
  >
    <mat-form-field appearance="fill">
    <mat-label>Название задачи</mat-label>
    <input
      type="text"
    	formControlName="textInput"
      matInput
    >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Описание задачи</mat-label>
      <textarea matInput formControlName="textarea"></textarea>
    </mat-form-field>

    <shared-button
			class="btn-add"
      [tooltip]="'Нажмите для добавления задачи'"
      [green]="true"
      [disabled]="!form.valid"
      [type]="'submit'"
      (click)="addItem()"
    >
      Add
    </shared-button>
	</form>
</div>
