.button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.add-btn {
  background-color: #18711b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-left: 127px;
}

.delete-btn {
  background-color: #d51e11;
}

[disabled] {
  opacity: 0.5;
  cursor: default;
}

.hidden {
  display: none;
}
