
<div class="todolist">
  <h1>Todo List</h1>
  <ul>
    <li>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, commodi?</span>
      <button class="delete-btn">Delete</button>
    </li>
    <li>
      <span>Lorem ipsum dolor sit amet consectetur.</span>
      <button class="delete-btn">Delete</button>
    </li>
    <li>
      <span>Lorem ipsum dolor sit.</span>
      <button class="delete-btn">Delete</button>
    </li>
  </ul>
  <div class="input-container">
    <input type="text" placeholder="Add new task...">
    <button class="add-btn">Add</button>
  </div>
</div>